:root {
    --primary: #17153B;
    --secondary-color: #2E236C  ;
    --background-color: #f5f5f5;
    --input-background: #fff;
    --text-color: #333;
    --button-background: #e0e0e0;
    --button-text-color: #333;
  }
  
  .container {
    width: 100%;
    max-width: 500px; /* Reduced max-width for a smaller container */
    margin: 2em auto;
    padding: 1.5rem;
    background: var(--background-color);
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .container h1 {
    margin-bottom: 1rem;
    color: var(--primary);
    text-align: center;
  }
  li{
    list-style: none;
  }
  .Task_list ul {
    list-style: none;
    padding: 0;
  }
  
  /* Mobile Version Styles */
  @media (max-width: 600px) {
    .container {
      max-width: 80%;
      padding: 1rem;
      margin: 1.5em auto;
    }
  
 
  }
  